<div class="flex justify-center w-full h-[100vh] text-white">
</div>

<div class="">
  <div *ngFor="let movie of movies " class="flex justify-start ml-10 ">
     <div class="flex flex-col  w-[25%] text-white border-[1px] drop-shadow-2xl">
        <img src="{{ movie.poster }}" class="img-fluid rounded-top w-[100%]" alt="" />
        <h1 class="self-center text-2xl font-bold">{{ movie.title }}</h1>
        <p class="overflow-clip p-1">{{ movie.synopsis }}</p>
        <p class="p-1">Ano de lançamento: {{movie.date.substring(0, 4)}}</p>
        <p class="p-1">Gêneros: {{movie.genre}}</p>
     </div>
  </div>
</div>
