<div class="flex w-full h-full gap-3">
   <div class="flex flex-row flex-wrap gap-3 m-3 ml-[50px] justify-center">
      <div *ngFor="let movie of movies" class="flex flex-col text-white w-[50%] justify-center drop-shadow-2xl font-roboto gap-3">
         <img src="{{ movie.poster }}" class="img-fluid rounded-top w-[100%] h-[70%] bg-cover" alt="" />
         <h1 class="self-center text-2xl font-bold">{{ movie.title }}</h1>
         <div class="">
            <p class="overflow-clip p-1">{{ movie.synopsis }}</p>
            <p class="p-1">Ano de lançamento: {{ movie.date.substring(0, 4) }}</p>
            <p class="p-1">Gêneros: {{ movie.genre }}</p>
         </div>
      </div>
   </div>
</div>
