<div class="flex flex-col w-full">
   <div class="flex flex-col text-white items-center mx-auto h-[30%] border-2 rounded">
      <img src="{{ userData.image }}" class="w-[350px]" alt="sadasdsa" />
      <p class="">
         Username:
         <span class="capitalize">{{ userData.username }}</span>
      </p>
      <div class="flex gap-2">
         <a *ngIf="user.isLogged" (click)="onLogout()" class=" text-white cursor-pointer transition-all duration-300 hover:text-[blue]" routerLink="/login" routerLinkActive="active" ariaCurrentWhenActive="page"><i class="fa-solid fa-right-from-bracket"></i></a>
         <a  class="cursor-pointer transition-all duration-300 hover:text-[blue]"><i class="fa-solid fa-gear"></i></a>
      </div>
      <a class="transition-all duration-300 flex hover:bg-[blue] w-full p-2 justify-center" routerLink="/register-movie" routerLinkActive="active" ariaCurrentWhenActive="page">Cadastrar filme</a>
      <a class="transition-all duration-300 flex hover:bg-[blue] w-full p-2 justify-center">Filmes assistidos e Criticas</a>

   </div>
   <div class="flex flex-col justify-center text-white">
      <div class="flex flex-col items-center">
        <p>Watched movies</p>
        <img src="{{movies[0].poster}}" class="w-[50%]" alt="">
      </div>
      <div class="flex flex-col items-center">
        <p>Watched movies</p>
        <img src="{{movies[0].poster}}" class="w-[50%]" alt="">
      </div>
   </div>
   <!-- <div *ngFor="let movie of movies" class="flex flex-row w-[300px] h-[450px] ml-10 mt-5 ">
      <div class="flex flex-col  text-white drop-shadow-2xl">
         <img src="{{ movie.poster }}" class="cover h-[55%]" alt="" />
         <h1 class="self-center text-2xl font-bold">{{ movie.title }}</h1>
         <p class="overflow-clip p-1">{{ movie.synopsis }}</p>
         <p class="p-1">Ano de lançamento: {{movie.date.substring(0, 4)}}</p>
         <p class="p-1">Gêneros: {{movie.genre}}</p>
      </div>
   </div> -->
</div>
