<div class="">
   <a routerLink="/register-movie" routerLinkActive="active" ariaCurrentWhenActive="page">Cadastrar filme</a>
   <div *ngFor="let movie of movies" class="flex justify-start  border-2 ml-10 h-[100vh]">
      <div class="flex flex-col border-2 w-[25%]">
         <h1 class="self-center text-3xl font-bold">{{ movie.title }}</h1>
         <img src="{{ movie.poster }}" class="img-fluid rounded-top w-[100%]" alt="" />
         <p class="overflow-clip p-1">{{ movie.synopsis }}</p>
         <p class="p-1">Ano de lançamento: {{movie.date.substring(0, 4)}}</p>
         <p class="p-1">Gêneros: {{movie.genre}}</p>
      </div>
   </div>
</div>
