<div class="flex flex-col justify-center items-center text-black w-full h-[100%] font-roboto">
  <form action="" [formGroup]="userForm" (ngSubmit)="getUserFormData(userForm.value)" class="flex items-center justify-center flex-col [&>*]:w-[100%] gap-2 w-[50%] h-[100vh]">
    <input type="text" placeholder="UserName" class="" formControlName="username" class="border-2 rounded p-2 bg-gray-500">
    <input type="text" placeholder="Email" formControlName="email" class="border-2 rounded p-2 bg-gray-500">
    <input type="text" placeholder="Profile picture url" formControlName="image" class="border-2 rounded p-2 bg-gray-500">
    <input type="text" placeholder="Password " formControlName="password" class="border-2 rounded p-2 bg-gray-500">
    <button class="bg-[#3c5c5a] font-medium rounded text-white p-2 pl-5 pr-5 transition-all duration-500 hover:bg-[#20302f]">Cadastrar</button>
  </form>
</div>

