<div class="flex flex-col justify-center items-center bg-[white] w-full h-[100%]">
  <form action="" [formGroup]="userForm" (ngSubmit)="getUserFormData(userForm.value)" class="flex items-center justify-center flex-col gap-2 h-[100vh]">
    <input type="text" placeholder="UserName"  formControlName="username" class="border-2">
    <input type="text" placeholder="Email" formControlName="email" class="border-2">
    <input type="text" placeholder="Profile picture url" formControlName="image" class="border-2">
    <input type="text" placeholder="Password " formControlName="password" class="border-2">
    <button class="bg-[green] font-medium rounded text-white p-2">Cadastrar</button>
  </form>
</div>

