<section class="flex flex-col justify-center items-center w-full h-[100vh] ">
  <form action="" [formGroup]="userForm" (ngSubmit)="onLogin(userForm.value)" class="flex flex-col gap-2 items-center justify-center gap-2 w-full h-[80vh]">
    <input type="text" placeholder="Email" class="p-1 rounded focus:ring-2" required formControlName="email">
    <input type="text" placeholder="Password" class="p-1 rounded " required formControlName="password">
    <button class="bg-[green] font-medium rounded text-white p-2">Login</button>
  </form>
  <div class="h-[100%]">
    <p class="text-white">Still don't have a account? <a href="#" routerLink="/register" routerLinkActive="active" ariaCurrentWhenActive="page" class="text-[blue]">Register here</a></p>
  </div>
</section>

