
<a class="fixed ml-4" appMenuDisplayOn (click)="toggleHeaderWidth()"><i class="fa-solid fa-bars cursor-pointer text-xl hover:text-3xl transition-all text-white duration-300 hover:text-blue-600"></i></a>
<nav id="navigation" class="transition-opacity duration-500 flex flex-col h-[100%] w-[15%] bg-black z-10 justify-around items-center fixed shadow shadow-lg shadow-red-700 ">
   <header class="flex justify-center items-center bg-black h-[10%] text-white">
      <h1 class="text-3xl font-bebas transition-all duration-500 hover:text-[#20302f]"><a class="flex cursor-pointer items-center">MReviewer</a></h1>
   </header>
   <ul class="flex flex-col gap-5  text-white w-full">
      <li class="transition-all duration-500 hover:bg-[#20302f] p-2 w-full"><a class="flex justify-center cursor-pointer" routerLink="/movies" routerLinkActive="active" ariaCurrentWhenActive="page">Todos filmes</a></li>
      <li class="transition-all duration-500 hover:bg-[#20302f] p-2 w-full"><a class="flex justify-center cursor-pointer">Pesquisar</a></li>
      <li *ngIf="!userService.isLogged" class="transition-all duration-500 p-2 hover:bg-[#20302f] w-full"><a href="#" class="flex justify-center cursor-pointer" routerLink="/login" routerLinkActive="active" ariaCurrentWhenActive="page">Login</a></li>
      <li *ngIf="!userService.isLogged" class="transition-all duration-500  p-2 hover:bg-[#20302f] w-full"><a href="#" class="flex justify-center cursor-pointer" routerLink="/register" routerLinkActive="active" ariaCurrentWhenActive="page">Register</a></li>
   </ul>
   <div class="flex justify-center gap-3">
      <a href="#" routerLink="/dashboard" routerLinkActive="active" ariaCurrentWhenActive="page" class="transition-all duration-300 hover:text-[#20302f] text-white"><mat-icon>account_circle</mat-icon></a>
      <a href="#" class="transition-all duration-300 hover:text-[#20302f] text-white" routerLink="/settings" routerLinkActive="active" ariaCurrentWhenActive="page"><mat-icon>settings</mat-icon></a>
       <a *ngIf="userService.isLogged" (click)="logout()" class="text-white cursor-pointer transition-all duration-300 hover:text-[#20302f] " routerLink="/login" routerLinkActive="active" ariaCurrentWhenActive="page"><mat-icon><i class="fa-solid fa-right-from-bracket"></i></mat-icon></a>

    </div>
   <button class="text-white transition-all duration-300 hover:bg-[#20302f] p-2 w-full" appMenuDisplayOff (click)="toggleHeaderWidth()">Ocultar</button>
</nav>

<!-- </div> -->
